# Ignore virtual environment
.env/
# Ignore data folder
data/
final_model/
# Ignore caches
__pycache__/
Model/__pycache__/
# Ignore Tensor saves
Tensor/best_models/
Tensor/tensor_runs/
# Do NOT ignore README.md
!README.md