# Ignore virtual environment
.env/
# Ignore data folder
data/
# Ignore caches
__pycache__/
Model/__pycache__/
# Ignore Tensor saves
neural_net.keras
tensor_runs/
# Ignore yolo saves
runs/
yolov8s.pt
dataset_yaml.yaml
# Do NOT ignore README.md
!README.md